*.json
google_tokens.mat
excluded/install/RunOnce.m
excluded/install/configure.m
excluded/access_spreasheet_info.py
excluded/example_create_gsheet.py
excluded/README.pdf
example/TEST.m
*.zip
*.jar
*.properties
*.gif
*.png
*.html
*.css
java/google-http-java-client/dependencies/xpp3_LICENSE.txt
java/google-http-java-client/proguard-google-http-client.txt
java/google-http-java-client/LICENSE.txt
java/google-oauth-java-client/proguard-google-oauth-client.txt
java/google-oauth-java-client/LICENSE.txt
java/google-oauth-java-client/dependencies/xpp3_LICENSE.txt
java/google-oauth-java-client/dependencies/CDDL-LICENSE.txt
java/google-oauth-java-client/dependencies/BSD-LICENSE.txt
java/google-oauth-java-client/dependencies/APACHE-LICENSE.txt
java/google-http-java-client/dependencies/BSD-LICENSE.txt